ion-content {
  --background: #f5f5f5;
}

ion-card {
  margin: 10px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

ion-card-header {
  background-color: #ff9800; // naranja
  color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

ion-card-title {
  font-weight: bold;
}

ion-button[color="warning"] {
  --background: #ff9800;
  --color: #fff;
}

ion-button[color="success"] {
  --background: #4caf50;
  --color: #fff;
}

.spinner-center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}